body{
	margin:0;
	padding:0;
	background-color: #000033;
	background-size:cover;
	font-family:gabriel;

}
.title
{   
	text-align:center;
	padding:50px 0 20px;
}
.title h1
{
	margin: 0;
	padding: 0;
	color:#f2f2f2;
	text-transform:uppercase;
	font-size:36px;
}
.container_aboutus
{
	opacity:0.7;
	width:90%;
	height:440px;
    background-color:#f2f2f2;
	margin:0 auto;
	border : 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
	color:black;
}

.logo_ab{
	float:center;
}
